
<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Total Users</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Username
                  </th>
                  <th>
                    email
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Role
                  </th>
                  <th>
                    Tracking ID
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                   melkam beyene
                  </td>
                  <td>
                   melk@gmail.com
                  </td>
                  <td>
                    <label class="badge badge-gradient-success">Approved</label>
                  </td>
                  <td>
                   Agent
                  </td>
                  <td>
                    WD-12345
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/images/faces/face2.jpg" class="mr-2" alt="image">
                    Elias breket
                  </td>
                  <td>
                    elias@gmail.com
                  </td>
                  <td>
                    <label class="badge badge-gradient-warning">PROGRESS</label>
                  </td>
                  <td>
                   EndUser
                  </td>
                  <td>
                    WD-12346
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/images/faces/face3.jpg" class="mr-2" alt="image">
                   beki kassahun
                  </td>
                  <td>
                    beka@gmail.com
                  </td>
                  <td>
                    <label class="badge badge-gradient-success">Approved</label>
                  </td>
                  <td>
                   Company
                  </td>
                  <td>
                    WD-12347
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/images/faces/face4.jpg" class="mr-2" alt="image">
                    kali mesfin
                  </td>
                  <td>
                   kal@gmail.com
                  </td>
                  <td>
                    <label class="badge badge-gradient-danger">REJECTED</label>
                  </td>
                  <td>
                   Agent
                  </td>
                  <td>
                    WD-12348
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>