<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © EdeliveryMate.com 2020</span>
    <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Privacy <a href="https://www.bootstrapdash.com/angular-admin-templates/" target="_blank">  Terms </a> from <a href="https://www.bootstrapdash.com/" target="_blank">EdeliveryMate.com </a></span> -->
  </div>
</footer>